/* FONTS */
@font-face {
    font-family: 'Resolve-RegularNrw';
    src: url(../fonts/Resolve-RegularNrw.otf);
  }
  
  @font-face {
    font-family: 'Resolve-BoldCnIta';
    src: url(../fonts/Resolve-BoldCnIta.otf);
  }
  
  @font-face {
    font-family: 'Suisse Int-semi-bold';
    src: url(../fonts/Suisse-Intl-SemiBold.otf);
  }
  
  @font-face {
    font-family: 'Suisse Int-regular';
    src: url(../fonts/Suisse-Intl-Regular.otf);
}
.slide
{
  background-color: #000 !important;
}
.logo
{
  padding-top: 0px;
}
#myVideo {
    position: fixed;
    right: 15%;
    top: -100px;
    min-width: 50%;
    min-height: 50%;
}
.Selected
{
    color: #ff4713 !important;
    text-decoration: underline;
}
.mainSection
{
  position: relative;
  left: 45%;
  top: 75px;
}
.mainSection h1
{
  font-size: 160px;
  font-family: 'Resolve-BoldCnIta';
  text-transform: uppercase;
  text-align: left;
  line-height: 120px;
  letter-spacing: 0.3px;
  color: #e5e1e6;
}
.mainSection h2
{
  font-size: 30px;
  font-family: 'Resolve-RegularNrw';
  text-align: left;
  letter-spacing: 0.3px;
  position: relative;
  left: 10%;
}
.spanOrange
{
  color: #ff4713 !important;
}
.contact-us
{
  position: absolute;
  top: 455px;
  right: 0.5%;
  font-size: 20px;
  font-family: "Resolve-RegularNrw";
  letter-spacing: 0.5px;
  display:block;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.contact-us:hover
{
  color: #ff4713 !important;
}
.arrowWIDTH
{
  position: relative;
  top: -29px !important;
  left: 120px;
  display:block;
  -webkit-transform: rotate(-90deg) !important; 
  -moz-transform: rotate(-90deg) !important; 
  width: 20px !important;
}